<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>JspLearing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>MySearch</display-name>
    <servlet-name>MySearch</servlet-name>
    <servlet-class>con.abc.MySearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySearch</servlet-name>
    <url-pattern>/MySearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDispatch</display-name>
    <servlet-name>UserDispatch</servlet-name>
    <servlet-class>con.abc.UserDispatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDispatch</servlet-name>
    <url-pattern>/UserDispatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGet</display-name>
    <servlet-name>UserGet</servlet-name>
    <servlet-class>con.abc.UserGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGet</servlet-name>
    <url-pattern>/UserGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userget02</display-name>
    <servlet-name>Userget02</servlet-name>
    <servlet-class>con.abc.Userget02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userget02</servlet-name>
    <url-pattern>/Userget02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>bean.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/new</url-pattern>
    <url-pattern>/insert</url-pattern>
    <url-pattern>/delete</url-pattern>
    <url-pattern>/edit</url-pattern>
    <url-pattern>/update</url-pattern>
    <url-pattern>/list</url-pattern>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>servlet.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarController</display-name>
    <servlet-name>CarController</servlet-name>
    <servlet-class>servlet.CarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarController</servlet-name>
    <url-pattern>/CarController</url-pattern>
  </servlet-mapping>
</web-app>